html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
}

#map {
  width: 100%;
  height: 100%;
}

/* Limit the width of the layer-switcher */
.layer-switcher {
  max-width: 300px;
}
.mousePosition {
  position: fixed;
  top: auto;
  right: auto;
  bottom: 5px;
  left: 10%;
  /* transform: translateX(-50%); */
  /* border: 1px solid grey; */
  border-radius: 10px;
  padding: 5px;
  /* background-color: rgba(225, 225,225, 0.4); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

#legend{
  z-index: 11;
padding: 4px 8px;
border: 2px solid grey;
  position: absolute;
bottom: 0px;
height: 50%;
    overflow: scroll;
    width:15%; 
    right: 0%;
background-color: #ffffff;
font-weight: bold;
}