{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>OpenLayers - Django</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'ol/ol.css' %}" />
    <link rel="stylesheet" href="{% static 'ol/ol-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'layerswitcher/ol-layerswitcher.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body>
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script
        src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="{% static 'ol/ol.js' %}"></script>
    <script src="{% static 'ol/ol-popup.js' %}"></script>
    <script src="{% static 'layerswitcher/ol-layerswitcher.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>



    {% block content %}

    <!-- content -->
    {% endblock %}